.propsPanel {
  //height: 100%;
  //padding: 15px;
  //border: 1px solid #f0f0f0;
  //border-radius: 10px;
  //background-color: white;
  //min-width: 200px;
  //max-width: 800px;
}

.panel {
  margin-top: 60px;
  height: calc(100vh - 120px);
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: white;
  min-width: 400px;
}

.noBorderCard {
  border: none !important;
  box-shadow: none !important;
  
  .ant-card-head {
    border-bottom: none !important;
  }
  
  .ant-card-body {
    border: none !important;
  }
}