
.conditionItem {
  position: relative;
  padding: 3px 5px;
  background-color: #f2f4f7;
}

.logicalOpr {
  position: absolute;
  right: 5px;
  top: -10%;
  transform: translateY(-50%);
}

.compareOpr {
  font-weight: bold;
}

.keyword {
  font-weight: bold;
}